<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/loggedInTemplate}">

<body>
    <div layout:fragment="content">
        <div class="container my-5">
            <div class="row justify-content-between align-items-center">
                <h5 class="text-primary">Add Product</h5>
                <hr />
                <div class="col-md-5 col-lg-4">
                    <p>Create a new product for our silly users to buy.</p>
                    <p>Remember to price it outrageously high, and provide a terrible description that provides little
                        information on the product. It's best if you just tell a random story. Like this one time I was
                        standing in line at the deli, and this guy walks in and says <span class="text-primary">"Lemme
                            get uhhh... a sammich"</span>, and
                        they immediately kicked him out.</p>
                </div>
                <div class="col-md-7 col-lg-7">
                    <form th:action="@{add-product}" th:object="${product}" method="post">
                        <div class="row g-3">
                            <div class="col-sm-3">
                                <label for="id" class="form-label">ID</label>
                                <input type="number" class="form-control" id="id" placeholder="12345" th:field="*{id}">
                            </div>
                            <div class="col-sm-9">
                                <label for="name" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Mouse traps"
                                    th:field="*{name}">
                            </div>
                            <div class="col-sm-12">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description"
                                    placeholder="This one time I was working in my garden..."
                                    th:field="*{description}" />
                            </div>
                            <div class="col-sm-6">
                                <label for="price" class="form-label">Price</label>
                                $<input type="number" min="0" step="any" class="form-control" id="price"
                                    placeholder="32.99" th:field="*{price}">
                            </div>
                            <div class="col-sm-6">
                                <label for="stock" class="form-label">Product Stock</label>
                                <input type="number" class="form-control" id="stock" placeholder="7"
                                    th:field="*{stock}">
                            </div>
                            <div>
                                <label for="soldOut" class="form-label">Sold Out</label>
                                <input type="hidden" class="form-control" value="false" id="soldOut"
                                    th:field="*{soldOut}">
                            </div>
                            <div class="col-sm-12">
                                <label for="imagePath" class="form-label">Images</label>
                                <input type="text" class="form-control" placeholder="path/to/image" id="imagePath"
                                    th:field="*{imagePath}">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>