<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/loggedInTemplate}">

<body>
    <div layout:fragment="content">
        <div class="container my-5">
            <div class="row justify-content-between align-items-center">
                <h5 class="text-primary">Update Product</h5>
                <hr />
                <div class="col-md-12 col-lg-12">
                    <form th:action="@{update-product}" th:object="${product}" method="put">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="name" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Mouse traps"
                                    th:field="*{name}" value="${product.name}">
                            </div>
                            <div class="col-sm-12">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description"
                                    placeholder="This one time I was working in my garden..." th:field="*{description}"
                                    value="${product.description}" />
                            </div>
                            <div class="col-sm-6">
                                <label for="price" class="form-label">Price (USD)</label>
                                <input type="number" min="0" step="any" class="form-control" id="price"
                                    placeholder="32.99" th:field="*{price}" value="${product.price}">
                            </div>
                            <div class="col-sm-6">
                                <label for="stock" class="form-label">Product Stock</label>
                                <input type="number" class="form-control" id="stock" placeholder="7" th:field="*{stock}"
                                    value="${product.stock}">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>