<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/loggedInTemplate}">

<head>

</head>

<body>
    <div layout:fragment="">

    </div>
    <div layout:fragment="content">
        <div class="container my-5">
            <div th:each="product : ${products}">
                <a th:href="@{/product-detail/{id}(id=${product.id})}">
                    <div>
                        <p th:text="${product.name}"></p>
                    </div>
                </a>
            </div>
        </div>
</body>

</html>