<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nile</title>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/htmx-1.8.0.js"></script>
  </head>

  <body>
    <div>
      <div th:replace="~{layouts/common::loggedInHeader}">My Header</div>

      <section layout:fragment="content">My Body Contents</section>

      <div th:replace="~{layouts/common::footer}">My Footer</div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
